/* your code */
table, th,td{
	border-radius:50px solid rgb(14, 114,119);
	border-collapse:collapse;
	padding=20px 50px;
	text-align:start;
/* 	border-radius:50px; */
	width:100%;
	height:30px;
}
th {
	background-color: lightblue;
}
tr:nth-child(even){
	background-color: lightgray;
}